@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Shared style */
.container {
  width: 80%;
  margin: 0 auto;
}
.bg_color {
  background-color: rgba(229, 84, 115, 0.1);
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
}
.primary_btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

/* banner style start */
.banner_info {
  display: flex;
  align-items: center;
  gap: 100px;
}
.banner_left_info {
  width: 60%;
}
.banner_left_info h1 {
  color: #272727;
  font-size: 75px;
  font-weight: 800;
}
.banner_left_info p {
  margin: 35px 0;
}

.banner_right_flower {
  margin-top: 50px;
  display: flex;
  align-items: end;
}
.banner_right_flower img {
  width: 600px;
}
/* banner style end */

/* Feature section style start */
.feature_area {
  text-align: center;
  margin-top: 170px;
}
.feature_area p {
  margin: 24px 0 48px;
}
.feature_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.card_img {
  border-radius: 300px 300px 0px 0px;
  width: 400px;
  height: 500px;
}

.box1 {
  background: rgba(167, 33, 98, 0.14) url("./assets/pngwing\ 6.png") no-repeat
    bottom;
  background-size: 70%;
}
.box2 {
  background: rgba(5, 151, 160, 0.14) url("./assets/pngwing\ 5.png") no-repeat
    bottom;
  background-size: 90%;
}
.box3 {
  background: rgba(71, 125, 17, 0.14) url("./assets/pngwing\ 7.png") no-repeat
    bottom;
  background-size: 70%;
}
.card h4 {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}
/* Feature section style end */
