@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Shared style */
.container {
  width: 80%;
  margin: 0 auto;
}
.bg_color {
  background-color: rgba(229, 84, 115, 0.1);
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
}
.primary_btn {
  border-radius: 8px;
  background: #e55473;
  padding: 15px 20px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

/* banner style start */

.banner_info {
  display: flex;
  align-items: center;
  gap: 100px;
}

.banner_left_info {
  width: 60%;
}
.banner_left_info h1 {
  color: #272727;
  font-size: 75px;
  font-weight: 800;
}
.banner_left_info p {
  margin: 35px 0;
}

.banner_right_flower {
  margin-top: 50px;
  display: flex;
  align-items: end;
}
.banner_right_flower img {
  width: 600px;
}
/* banner style end */

/* Feature section style start */
.feature_area {
  text-align: center;
  margin-top: 100px;
}
.feature_area p {
  margin: 24px 0 48px;
}
.feature_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.card_img {
  border-radius: 300px 300px 0px 0px;
  width: 400px;
  height: 500px;
}
.card_img:hover {
  border: 1px solid #e55473;
}

.box1 {
  background: rgba(167, 33, 98, 0.14) url("./assets/pngwing6.png") no-repeat
    bottom;
  background-size: 70%;
}
.box2 {
  background: rgba(5, 151, 160, 0.14) url("./assets/pngwing5.png") no-repeat
    bottom;
  background-size: 90%;
}
.box3 {
  background: rgba(71, 125, 17, 0.14) url("./assets/pngwing7.png") no-repeat
    bottom;
  background-size: 70%;
}
.flower_card h4 {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}
/* Feature section style end */

/* Customer Service area Style start */
.customer_service_area {
  display: flex;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 85px;
  justify-content: space-evenly;
  margin: 120px auto;
}
.customer_service_area:hover {
  border: 1px solid #e55473;
}
.service_card {
  text-align: center;
}
.service_card h5 {
  margin-top: 25px;
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
}
/* Customer Service area Style end */

/* Hod Deal Section Style start */
.hot_deal_info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.hot_deal_left {
  text-align: center;
  width: 60%;
  margin-right: 100px;
}
.hot_deal_left span {
  color: #e55473;
}
.hot_deal_left p {
  margin: 24px 0 32px;
}
.hot_deal_right {
  width: 40%;
}

/* Hod Deal Section Style end */

/* Instagram section style start */
.insta_area {
  text-align: center;
  margin-top: 100px;
}
.insta_area p {
  margin: 24px 0 48px;
}
.insta_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.insta_cards img {
  width: 300px;
}
.insta_cards img:hover {
  border: 1px solid #e55473;
}
/* Instagram section style end */

/* Testimonial section style start (Extra Section by Examinee) */

.testimo_area {
  min-height: 100vh;
  margin: 120px auto 100px;
  padding: 16px;
  text-align: center;
  display: flex;
  align-items: center;
}

.title p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.title h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.testimo_cards {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.card {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card:hover {
  background-color: rgba(229, 84, 115, 0.046);
}

.card i {
  font-size: 2.5rem;
  color: #e55473;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 50px;
  margin: auto;
}

.card img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #1a2c50;
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #767268;
  transition: 0.3s;
}

.testimo_bottom h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimo_bottom p {
  max-width: 450px;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Testimonial section style end */

/* Latest deal style start */
.latest_deal {
  margin: 125px auto;
  text-align: center;
  padding: 120px 50px;
  border-radius: 8px;
  background: url("./assets/Rectangle9.png");
}
.latest_deal:hover {
  border: 1px solid #e55473;
}
.latest_deal p {
  margin: 20px 0 50px;
}
.latest_deal input {
  padding: 18px 25px;
  width: 500px;
  border: none;
  border-radius: 8px;
  background: #fff;
  margin-right: 16px;
  font-size: 15px;
}
.latest_deal form {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Latest deal style end */

/* Footer Style start  */
footer {
  text-align: center;
  background-color: #111010;
  padding: 128px;
}
footer span {
  color: #e55473;
}
footer h1 {
  font-size: 48px;
  font-weight: 800;
  color: white;
  margin-bottom: 24px;
}
footer p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 32px;
}
footer small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
/* Footer Style end  */
